<div class="center">
  <h1>Mafia</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@room, url: join_path) do |f| %>
        <%= render 'shared/error_messages', object: @room %>

        <%= f.text_field :code, class: 'form-control', placeholder: "Room Code" %>
        <%= f.submit "GO", id: "join-room", class: "btn btn-lg btn-default btn-gray" %>
      <% end %>

      <%= link_to "New Room", new_room_path, id: "new-room", class: "btn btn-lg btn-default btn-block btn-gray" %><br>
      <%= link_to "How to Play", help_path, id: "btnHelp", class: "btn btn-lg btn-default btn-block btn-gray" %><br>
    </div>
  </div>
</div>