<%= render partial: 'shared/room_header', locals: { room_code: params[:room_code] } %>

<div class="below-header container">

  <h1>You are Dead!</h1>

  <%= render partial: 'players_list', locals: { users: @alive_users, current_user: @user, mode: 'alive', title: 'Alive' } %>

  <%= render partial: 'players_list', locals: { users: @dead_users, current_user: @user, mode: 'dead', title: 'Dead' } %>

  <%= render partial: 'shared/roles_list', locals: { roles: @roles, hide_admin_controls: true } %>
</div>

<%= subscribe_to @day_phase_changed_channel %>