<%= render partial: 'shared/room_header', locals: { room_code: params[:room_code] } %>

<div class="below-header container">

  <p id="user" name="<%= @user.name %>" class="hide"><%= @user.name %></p>
  <p id="role" name="<%= @role[:name] %>" class="hide"><%= @role[:name] %></p>

  <div id="gameplay-container">
    <div class="information">
      <%= render partial: 'reports_list', locals: { reports: @reports } %>

      <% if @room.day_phase_counter <= 2 %>
        <%= render partial: 'shared/help_panel', locals: { messages:
          if @room.day_phase == 'night'
            [
              "It is the first Night.",
              "You cannot speak or look at others during Night.",
              "Keep your phone screen hidden from others.",
              "Click 'Role' above to see your role.",
              "Choose a target if you have special abilities.",
              "Press 'Submit'. Once everyone is 'Ready', day will begin."
            ]
          elsif @room.day_phase == 'day'
            [
              "It is the first Day.",
              "Living players may talk openly, but dead players must be silent.",
              "Keep your phone screen hidden from others.",
              "Vote on who you wish to get lynched.",
              "A player is lynched only if they receive more than half the votes.",
              "Press 'Submit'. Once everyone is 'Ready', night will begin."
            ]
          end
        } %>
      <% else %>
        <%= render partial: 'shared/help_panel', locals: { messages:
          if @room.day_phase == 'night'
            [
              "You cannot speak or look at others during Night.",
              "Keep your phone screen hidden from others."
            ]
          elsif @room.day_phase == 'day'
            [
              "Living players may talk openly, but dead players must be silent.",
              "Keep your phone screen hidden from others.",
              "Vote on who you wish to get lynched.", 
              "A player is lynched only if they receive more than half the votes."
            ]
          end
        } %>
      <% end %>
    </div>

    <%= render partial: 'actions_list', locals: { action_options: @action_options, is_ready: @is_ready, day_phase: @room.day_phase } %>

    <% if @room.day_phase == "night" %>
      <%= render partial: 'players_list', locals: { users: @alive_users, current_user: @user, mode: 'alive', title: 'Alive' } %>
    <% end %>

    <%= render partial: 'players_list', locals: { users: @dead_users, current_user: @user, mode: 'dead', title: 'Dead' } %>
    
    <%= render partial: 'shared/roles_list', locals: { roles: @roles, hide_admin_controls: true } %>
  </div>

  <div id="my-role-info-container" class="hide">
    <%= render partial: 'shared/role_info', locals: { role: @role, personal: true, reveal_teammates: @reveal_teammates, teammates: @teammates } %>
  </div>

  <div id="role-info-container" class="hide">
    <%= render partial: 'shared/role_info', locals: { role: { name: "name", team: "team", ability: "ability", objective: "objective" }, personal: false, reveal_teammates: false, teammates: [] } %>
  </div>
</div>

<%= subscribe_to @day_phase_changed_channel %>