<%= render partial: 'shared/room_header', locals: { room_code: params[:room_code] } %>

<div class="below-header container">

  <p id="user" name="<%= @user.name %>" class="hide"><%= @user.name %></p>
  <p id="role" name="<%= @role[:name] %>" class="hide"><%= @role[:name] %></p>

  <div id="gameplay-container">
    <%= render partial: 'actions_list', locals: { action_options: @action_options, is_ready: @is_ready, day_phase: @room.day_phase } %>

    <% if @room.day_phase == "night" %>
      <%= render partial: 'players_list', locals: { users: @alive_users, current_user: @user, mode: 'alive', title: 'Alive' } %>
    <% end %>

    <%= render partial: 'players_list', locals: { users: @dead_users, current_user: @user, mode: 'dead', title: 'Dead' } %>
    
    <%= render partial: 'shared/roles_list', locals: { roles: @roles, hide_admin_controls: true } %>
  </div>

  <div id="role-info-container" class="hide">
    <%= render partial: 'shared/role_info', locals: { role: @role, personal: true, reveal_teammates: @reveal_teammates, teammates: @teammates } %>
  </div>
</div>

<%= subscribe_to @day_phase_changed_channel %>