<%= render partial: 'shared/room_header', locals: { room_code: params[:room_code] } %>

<h1>Edit Actions</h1>

Role: <p id="role" name="<%= @role %>"><%= @role %></p>
<p>Day Phase: <%= @room.day_phase %></p>

<%= render partial: 'actions_list', locals: { actions: @actions } %>