<%= render partial: 'shared/room_header', locals: { room_code: params[:room_code] } %>

<div class="center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user, url: users_path(params[:room_code]), id: 'new_user') do |f| %>
        <%= render 'shared/error_messages', object: @user %>

        <div id='name-fields'>
          <%= f.label :name, "What's your actual name?", id: 'name-label' %>
          <%= f.text_field :name, class: 'form-control', placeholder: "Your Name", id: 'name-field' %>
        </div>
        <%= submit_tag "GO", id: 'submit', class: "btn btn-lg btn-default btn-gray" %>
      <% end %>
    </div>
  </div>
</div>