<div id='roles-container' class='jumbotron panel'>
  <h2>Roles</h2>

  <hr>

  <% if roles.reduce(0){|sum, role| sum + role[:count] } == 0 %>
    <p id="roles-msg">No roles added yet</p>
  <% else %>
    <ul id="roles-list" data-num-roles="<%= roles.reduce(0){|sum, role| sum + role[:count] } %>">
      <%= render partial: 'shared/role', collection: roles.select { |role| role[:role].team == Role::MAFIA_TEAMS[:village] }, locals: { hide_admin_controls: hide_admin_controls } %>
      <%= render partial: 'shared/role', collection: roles.select { |role| role[:role].team == Role::MAFIA_TEAMS[:mafia] }, locals: { hide_admin_controls: hide_admin_controls } %>
      <%= render partial: 'shared/role', collection: roles.select { |role| role[:role].team == Role::MAFIA_TEAMS[:solo] }, locals: { hide_admin_controls: hide_admin_controls } %>
    </ul>
    <p id="roles-msg">Click on a role to learn more</p>
  <% end %>
  
  <% if !hide_admin_controls && is_host?(@room) %>
    <hr>

    <%= form_tag(add_role_path(params[:room_code]), id: 'new-role', class: "Aligner") do %>
      <%= select_tag :role, options_for_select(@role_options.map {|role| [role[:name], role[:id]]}), id: 'role-options' %>
      <%= submit_tag "Add", id: 'add-role', class: "btn btn-lg btn-default hide" %>
    <% end %>
  <% end %>
</div>

<%= subscribe_to channel if !is_host?(@room) && local_assigns.has_key?(:channel) %>
