<div id="role-info-div">
  <div class='jumbotron role-info panel'>
    <h2><%= "My " if personal %>Role</h2>

    <hr>

    <ul id="role-information">
      <li>
        <div class='role-name role-info-name'><%= role[:name] %></div>
        <div class="role-team role-info-team"><%= role[:team] %></div>
      </li>
    </ul>
  </div>

  <div class='jumbotron role-info panel'>
    <h2><%= "My " if personal %>Objective</h2>

    <hr>

    <div class="container">
      <p class="role-info-objective"><%= role[:objective] %></p>
    </div>
  </div>

  <% if !role[:ability].empty? %>
    <div class='jumbotron role-info panel role-info-ability-container'>
      <h2><%= "My " if personal %>Ability</h2>

      <hr>

      <div class="container">
        <p class="role-info-ability"><%= role[:ability] %></p>
      </div>
    </div>
  <% end %>

  <% if reveal_teammates && !teammates.empty? %>
    <div class='jumbotron role-info panel'>
      <h2><%= "My " if personal %>Teammates</h2>

      <hr>

      <ul id="teammates">
        <% for user in teammates %>
          <li>
            <div class='user-name'><%= user.name %></div>
            <div class="user-title"><%= user.role[:name] %></div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>