<% if role[:count] > 0 %>
  <li id="role-<%= role[:id] %>" class="team-<%= role[:team] %> <%= "host" if !hide_admin_controls && is_host?(@room) %>">
    <% if !hide_admin_controls && is_host?(@room) %>
      <div class="Aligner role-count-buttons">
        <%= link_to "+", increment_role_path(params[:room_code], role[:id]), method: :post, id: "add-role-#{role[:id]}", class: "add-role" %>

        <%= link_to "–", remove_role_path(params[:room_code], role[:id]), method: :post, id: "remove-role-#{role[:id]}", class: "remove-role" %>
      </div>
    <% end %>
    <div class="role-count">x <%= role[:count] %></div>
    <span class='vertical-divider'>&#124;</span>
    <div class='role-name'><%= role[:name] %></div>
    <div class="role-team"><%= role[:team] %></div>
  </li>
<% end %>