<header id='room-header' class='navbar navbar-fixed-top'>
  <div class="container">
    <% if @room.is_in_progress? %>

      <% if @room.day_phase == 'night' %>
        <p id="day-phase-icon" class="night Aligner">☾</p>
      <% elsif @room.day_phase == 'day' %>
        <p id="day-phase-icon" class="day Aligner">☀</p>
      <% end %>

      <p id="day-phase" class="Aligner">
        <% if @room.day_phase == 'night' %>
          Night
        <% elsif @room.day_phase == 'day' %>
          Day
        <% end %>
      </p>
    <% end %>

    <p id="room-code" data-room-code="<%= room_code %>" class="<%= 'hide' if !@room.is_pregame? %>">
      <%= room_code %>
    </p>
    
    <div id="header-buttons" class="Aligner">
      <% if has_already_joined?(@room) %>
        <% if @room.is_pregame? %>

          <% if is_host?(@room) %>
            <%= link_to "Start", start_game_path(room_code), method: :post, class: "btn btn-lg btn-default btn-gray disabled size-large", id: "start-game" %>
            <%= link_to "GO", start_game_path(room_code), method: :post, class: "btn btn-lg btn-default btn-gray disabled size-small", id: "start-game-small" %>
          <% end %>  

          <%= link_to "Leave", '#', id: "leave", class: "btn btn-lg btn-default btn-gray size-large" %>
          <%= link_to "X", '#', id: "leave-small", class: "btn btn-lg btn-default btn-gray size-small" %>
          
        <% elsif @room.is_in_progress? && @user.is_alive %>
          <%= link_to "Role", '#', id: "role-button", class: "btn btn-lg btn-default btn-gray" %>
        <% end %>
      <% end %>
    </div>

  </div>
</header>