<%= render partial: 'shared/room_header', locals: { room_code: params[:room_code] } %>

<div class="below-header container">
  
  <div id="gameplay-container">
    <div class="information">
      <%= render partial: 'shared/copy_to_clipboard', locals: { value: "#{room_url(params[:room_code])}" } %>

      <%= render partial: 'shared/help_panel', locals: { messages: [
        "1. Tell your friends to go to this website on their phone and enter the 4-letter code above, or just link them the url.",
        "2. Add Roles equal in number to Players.",
        "3. Button above turns green; press to start game."
      ]} %>
    </div>

    <div id="roles-list-parent">
      <%= render partial: 'shared/roles_list', locals: { roles: @roles, channel: @roles_list_channel, hide_admin_controls: false } %>
    </div>

    <%= render partial: 'shared/user_list', locals: { users: @users, channel: @users_list_channel } %>
  </div>

  <div id="role-info-container" class="hide">
    <%= render partial: 'shared/role_info', locals: { role: Role.new(0), personal: false, reveal_teammates: false, teammates: [] } %>
  </div>
</div>