<%= render partial: 'shared/room_header', locals: { room_code: params[:room_code] } %>

<div class="below-header container">

  <%= render partial: 'shared/roles_list', locals: { roles: @roles, channel: @roles_list_channel } %>

  <%= render partial: 'shared/user_list', locals: { users: @users, channel: @users_list_channel, current_user: @user } %>

  <%= link_to "Leave", '#', id: "leave" %>

</div>

<%= subscribe_to @game_started_channel %>